{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                
                <form  method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                                    
                    <div class="mb-3 form-check">
                        <a href="{% url 'accounts:register' %}" class="form-check-label" for="exampleCheck1">register</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>           
                {% for message in messages %}
                    <div class="alert alart-danger">
                        <p> {{message}} </p>
                    </div>
                {% endfor %}  
                
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>


{% endblock %}
