{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Resgister</h5>
               
                <form method="POST" action="" style="text-align:center;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Username</label><br>
                        {{form.username }}   
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Email Addres</label><br>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label><br>
                        {{ form.password1 }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label><br>
                        {{ form.password2 }}
                    </div>
                    <div class="mb-3 form-check">
                        <a href="{% url 'accounts:login' %}" class="form-check-label" for="exampleCheck1">Login</a>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>             
                 <div class="alert alart-danger">
                    {% for message in messages %}
                        <p> {{message}} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
